{% load bootstrap3 %}
{% load static %}

<!DOCTYPE html>
<html lang='ko'>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>My blog</title>

    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" type="text/css" href="{% static 'my_blog/blog.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'users/login.css' %}">
  </head>

  <body>
    <!--Static navbar-->
    <nav class="navbar navbar-inverse navbar-static-top">
      <div class="container-fluid">

        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"
            data-toggle="collapse" data-target="#navbar"
            aria-expended="flase" aria-controls="navbar">
          </button>
          <a href="{% url 'my_blog:index' %}" class="navbar-brand">
            My Blog
          </a>
        </div>

        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li>
              <a href="{% url 'my_blog:topics' %}">포스트</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
            <li><a href="{% url 'my_blog:profile' user.id %}"
              >Hello, {{ user.username }}.</a></li>
            <li><a href="{% url 'users:logout' %}">log out</a></li>
            {% else %}
              <li><a href="{% url 'users:register' %}">회원가입</a></li>
              <li><a href="{% url 'users:login' %}">log in</a></li>
            {% endif %}
          </ul>
        </div><!--/.nav-collapse -->

      </div>
    </nav>

    <div class="container">

      <div clas="page-header">
        {% block header %}{% endblock %}
      </div>
      <div>
        {% block content %}{% endblock %}
      </div>
    </div>
  </body>

</html>
