{% extends "my_blog/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h1>{{ topic }}
    <small>
      <h3 style="margin-bottom: 0px; height: 0px;">author:{{ topic.owner }}</h3>
        <div class="text-right">
          {% buttons %}
            <a href="{% url 'my_blog:delete_topic' topic.id %}"
            button onclick="return confirm('정말 삭제하겠습니까?');"
              name="submit" class="btn btn-danger" role="button">
              주제 삭제하기
            </a>
          {% endbuttons %}
        </div>
    </small>
  </h1>
{% endblock %}

{% block content %}

  <p>
    <a href="{% url 'my_blog:new_content' topic.id %}">새로운 내용 추가</a>
    {% for content in contents %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3>
          {{ content.date_added|date:'M d, Y H:i' }}
          <small>
            <a href="{% url 'my_blog:edit_content' content.id %}">
              내용 수정
            </a>
            <div class="btn-group">
              {% buttons %}
                <a href="{% url 'my_blog:read_content' content.id %}"
                  name="submit" class="btn btn-success btn-xs" role="buton">
                  자세히 읽기
                </a>
                    <a href="{% url 'my_blog:delete_content' content.id %}"
                     button onclick="return confirm('정말 삭제하겠습니까?');"
                      name="submit" class="btn btn-danger btn-xs">내용 삭제하기
                    </a>
              {% endbuttons %}
              </div>
            </small>
          </h3>
        </div>
      <div class="panel-body">
        {{ content.text|truncatechars:150|linebreaks }}
      </div>
    </div><!-- panel -->
    {% empty %}
      아직 아무것도 존재하지 않습니다.
    {% endfor %}

{% endblock %}
