{% extends "my_blog/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h1>주제</h1>
  <small>
    <h3><a href="{% url 'my_blog:new_topic' %}">
      <button name="submit" class="btn btn-primary">
        주제 추가하기</button></a></h3>
  </small>
{% endblock %}

{% block content %}

  <ul>
    {% for topic in topics %}
    <li>
      <h3>
        <a href="{% url 'my_blog:topic' topic.id %}">{{ topic }}</a>
      </h3>
    </li>
    {% empty %}
      <li>아무것도 없지롱!</li>
    {% endfor %}
  </ul>

{% endblock %}
