{% extends "my_blog/base.html" %}
{% load bootstrap3 %}

{% block header %}
  <h2>여기서 로그인하세요!</h2>
{% endblock %}

{% block content %}

  <form action="{% url 'users:login' %}" method='post' class="form">
    {% csrf_token %}
    {% bootstrap_form form %}

    {% buttons %}
    <button name="submit" class="btn btn-primary">Log in</button>
    {% endbuttons %}

    <input type="hidden" name="next" value="{% url 'my_blog:index' %}" />
  </form>
<div class=sns>
  <a href="{% url "social:begin" "google-oauth2" %}">
    <button class="btn btn-danger" style="width: 10%">G+ Login</button></a>

  <a href="{% url "social:begin" "github" %}">
      <button class="btn btn-dark" style="width: 10%">Git Login</button></a>

  <a href="{% url "social:begin" "kakao" %}">
      <button class="btn btn-warning" style="width: 10%">Kakao</button></a>
</div>

{% endblock %}
